{% extends "inout/base1.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome To Gallary Page</h1>
  </div>

</div>
<input id="btn" type="button" name="" value="hello">
<div class="myy">

</div>
<script>
  $('#btn').on('click',function(){
    $.ajax({
      url:'ajax/see_generated_number',
      dataType:'json',
      success:function(data){
        //data1=JSON.parse('data')
        console.log(data)
        for(i in data){

          $(".myy").html(data[i].fields.Random_Number)

        }


      }
  })
})

</script>

{% endblock %}
